<h2><%= t ".header", resource: resource_name.to_s.humanize %></h2>

<%= form_for resource, as: resource_name, url: registration_path(resource_name),
  html: {method: :put} do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t ".msg_1" %> <b><%= resource.unconfirmed_email %></b></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i><%= t ".pass_tool_tip" %></i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= t ".msg_length_min", number: @minimum_password_length %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i><%= t "curr_pass_tool_tip" %></i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit t(".btn_submit") %>
  </div>
<% end %>

<h3><%= t ".header_2" %></h3>

<p>
  <%= t ".msg" %>
  <%= button_to "Cancel my account", registration_path(resource_name),
    data: {confirm: t(".msg_conf")}, method: :delete %>
</p>

<%= link_to t(".link_back"), :back %>
