<div class="account registration">
  <div class="container">
    <div class="account-bottom">
      <div class="col-md-4 col-md-offset-4">
        <h2><%= t ".header" %></h2>
        <%= form_for resource, as: resource_name,
          url: password_path(resource_name), html: {method: :post} do |f| %>
          <%= devise_error_messages! %>
          <div class="field address">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <div class="actions form-group">
            <%= f.submit t(".btn_submit"),
              class: "btn btn-flat btn-warning form-control" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
