<h1><%= t ".header" %></h1>

<p><%= t ".greeting", name: @order.user.name %></p>
<p>
  <%= t(".mgs_thank_you").html_safe %>
  <%= order_url @order.id %>
</p>
<p>
  <table style="width: 50%;">
    <thead style="background-color: #aaa;">
      <th><%= t ".th_product" %></th>
      <th><%= t ".th_quantity" %></th>
      <th><%= t ".th_price" %></th>
    </thead>
    <tbody style="background-color: #eee;">
      <% @order.order_products.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td style="text-align: right;"><%= item.quantity %></td>
          <td style="text-align: right;"><%= item.product.price %></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td style="text-align: right;"><%= t ".lb_total" %></td>
        <td style="text-align: right;">
          <strong>
            <%= number_to_currency @order.total_cost, unit: t("currency") %>
          </strong>
        </td>
      </tr>
    </tbody>
  </table>
</p>
