<div class="products-grd ">
  <div class="p-one simpleCart_shelfItem prd">
    <%= link_to product_path(product) do %>
      <%= image_tag product.image, class: "img-responsive" %>
      <h4><%= product.name %></h4>
    <% end %>
    <p>
      <%= link_to product_path(product), class: "item_add" do %>
        <i class="glyphicon glyphicon-shopping-cart"></i>
        <span class="item_price valsa">
          <%= number_to_currency product.price, unit: t("currency") %>
        </span>
      <% end %>
    </p>
    <div class="pro-grd">
      <%= link_to t("products.list_products.details"), product_path(product) %>
    </div>
  </div>
</div>
