<ul class="socials">
  <li>
    <%= link_to "", "#", class: "soc1" %>
  </li>
  <li>
    <%= link_to "", "#", class: "soc2" %>
  </li>
  <li>
    <%= link_to "", "#", class: "soc3" %>
  </li>
</ul>
<div class="copy">
  <div class="container">
    <p class="copyright">
      &copy;<%= t ".copyright" %>
      <strong><%= link_to t(".author_name"), "#" %></strong>
    </p>
  </div>
</div>
