<div class="top_bg" id="home">
  <div class="container">
    <div class="header_top">
      <div class="top_right"></div>
      <div class="top_left">
        <ul>
          <% if user_signed_in? %>
            <li>
              <%= link_to t(".greeting_txt", name: current_user.name),
                user_orders_path(current_user) %>
            </li>
            <li>
              <%= link_to t(".sign_out"), destroy_user_session_path,
                method: :delete %>
            </li>
          <% else %>
            <li><%= link_to t(".sign_in"), new_user_session_path %></li>
            <li><%= link_to t(".sign_up"), new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="header_bg">
  <div class="container">
    <div class="header">
      <div class="head-t">
        <%= link_to root_path do %>
          <div class="logo">
            <%= image_tag "project2_logo.png", alt: t(".logo_alt") %>
          </div>
        <% end %>
        <div class="header_right">
          <div class="cart box_1" id="cart-icon">
            <%= render "layouts/cart" %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <ul class="megamenu skyblue">
        <li class="active grid">
          <%= link_to t(".link_home"), root_path, class: "color1" %>
        </li>
        <li class="grid">
          <%= link_to "", "#", class: "color2" %>
          <div class="megapanel"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
